<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicia sesión</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles-login.css">
</head>
<body>
    <header class="header">
        <div class="top-nav">
            <a href="/"><img class="logo-ml" src="/img/logo-mercado-liebre.svg" alt="Logo MERCADO-LIEBRE"></a>
            <div class="searcher">
                <input class="control" type="text" name="searcher" id="" placeholder="Buscar productos, marcas..."><i class="fas fa-search fa-0.5"></i>
            </div>
        
            <h3 class="cuotas">
                <i class="fas fa-hand-holding-usd"></i>
                <p>Comprá en cuotas y sin tarjeta de crédito</p>
            </h3>
        </div>
        <nav class="bot-nav">
            <ul class="nav-bar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="login-bar">
                <li>
                    <a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a>
                </li>
                <li>
                    <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
                </li>
                <li>
                    <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></i>
                </li>
            </ul>
        </nav>
        <div class="bars">
        <i class="fas fa-bars fa-2x"></i>
        </div>
    </header>
    
    <main class="main-login">
        <img class="banner" src="/img/img-home-banner.jpg" alt="Banner">
        <form class="form-login" action="login">
            <h2 class="main-title">Ingresá con tu usuario</h2>
            <div class="divs-login">
                <label for="">Nombre de usuario</label>
                <input type="text" name="userName" id="" class="nombre">
            </div>
            <div class="divs-login">
                <label for="">Contraseña</label>
                <div class="pass">
                    <input type="password" name="pass" id="" class="control"><i class="fas fa-eye-slash"></i>
                </div>
            </div>
            <div class="div-remember-user">
                <div>
                    <input type="checkbox" name="remember-user" id="">
                    <label for="">Recordar usuario</label>
                </div>
                <a href="#">Recuperar contraseña</a>
            </div>
            <div class="buttons">
                <button class="button" type="submit">Ingresar</button>
            </div>
        </form>
        <div class="register">
            <label for="">¿Aún no tenés cuenta?¡<a href="/register">Registrate</a>!</label>
        </div>
    </main>

    <footer class="footer">
        <ul>
            <li><i class="fas fa-credit-card"></i>
                <h4>Pagá con tarjeta de credito o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </li>
            <li><i class="fas fa-gift"></i>
                <h4>Envío gratis desde $2.500</h4>
                <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </li>
            <li><i class="fas fa-user-shield"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido.</p>
            </li>
        </ul>
        <div class="copyright">Copyright 1998-2021 MercadoLiebre S.R.L.</div>
    </footer>
</body>
</html>