/* FOOTER */

.footer{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 300;
}

.footer ul{
    list-style-type: none;
    margin: 0 ;
    padding: 0 35px;
}

.footer ul li{
    margin-top: 45px;
}

.footer ul li i{
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259ce;
}

.footer ul li h4{
    margin: 0px;
}

.footer ul li p{
    margin: 0px;
    text-align: unset;
    color: #666;
}

.footer ul .copyright{
    padding: 45px 0 20px 0;
}