*{
    box-sizing: border-box;
    margin: 0;  
    padding: 0;
}

/* HEADER */

.header{
    background-color: #EAC926;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 5px 10px #5f6368;
}

.header .top-nav{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 20px;
}

.header .top-nav a{
    max-width: 130px;
}

.header .top-nav .logo-ml{
    width: 100%;
}

.header .top-nav .searcher{
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 60%;
}

.header .top-nav .searcher .form-searcher{
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 100%;
}

.header .top-nav .searcher .control{
    width: 90%;
    padding: 0 5%;
    border-radius: 8px;
}

.header .top-nav .searcher i{
    width: 5%;
    position: absolute;
    top: 10px;
    right:15px;
}

.header .top-nav .cuotas{
    display: flex;
    width: 85%;
    text-align: center;
    margin: 20px auto;
}

.header .bot-nav{
    display: none;
}

.header .bot-nav ul{
    list-style-type: none;
    margin: 0;
    padding: 7px 0;
}

.header a{
    text-decoration: none;
    color: black;
}

.header a:hover{
    text-decoration: underline;
}

.header .bars{
    text-align: center;
}

.header .bars i{
    color: white;
    background-color: #03264C;
    padding: 8px;
    border-radius: 10px;
    margin: 0 0 15px 0;
}

.banner{
    width: 100%;
}

/* MEDIA QUERY 1 */

@media (min-width: 481px){

    .header{
        height:max-content;
    }

    .header .top-nav{
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        justify-content: space-around;
        margin: auto;
        padding: 10px 0 ;
    }

    .header .top-nav .logo-ml{
        display: flex;
        width: 100%;
        max-width: 150px;
        justify-self: center;
    }

    .header .top-nav .searcher .control{
        width: 80%;
        padding: 0 5%;
    }

    .header .top-nav .searcher i{
        width: 10%;
        top: 8px;
    }

    .header .top-nav .cuotas{
        width: 33%;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .header .top-nav .cuotas i{
        align-self: center;
        justify-self: flex-end;
        margin:  0 5px;
        font-size: 75%;
    }

    .header .top-nav .cuotas p{
        text-align: center;
        font-size: 50%;
        align-self: center;
        justify-self: flex-start;
    }

    .header .bot-nav{
        display: flex;
        justify-content: space-around;
        margin: auto;
        width: 95%;
    }

    .header .bot-nav .nav-bar, .header .bot-nav .login-bar{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        width: 100%;
        margin: auto;
        font-size: 60%;
    }

    .header .bot-nav .nav-bar{
        justify-content: flex-start;
    }

    .header .bot-nav .nav-bar li{
        margin-right: 1em;
    }

    .header .bot-nav .login-bar{
        justify-content: flex-end;
    }

    .header .bot-nav .login-bar li{
        margin-left: 1em;
    }

    .header .bars{
        display: none;
    }
}


/* MEDIA QUERY 2 */

@media (min-width: 769px){

    

    .header .top-nav .searcher .control{
        width: 100%;
        padding: 0 2%;
    }

    .header .top-nav .searcher i{
        width: 2%;
    }
 
    .header .top-nav .cuotas{
        font-size: 180%;
        width: 25%;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .header .bot-nav{
        padding: 10px 0 5px 0;
    }

    .header .bot-nav ul li{
        margin: 0 12px ;
    }

    .header a{
        font-size: 160%;
    }

    .header .bars{
        display: none;
    }
}