@import url(/css/header.css);

@import url(/css/footer.css);

body{
    text-align: center;
}

#image{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
}

h2{
    margin-top: 140px;
}

.section{
    max-width:max-content;
    margin: auto;
    display: flex;
    flex-direction: column;
} 

.usuarios{
    padding: 10px;
    display: flex;
    margin: 10px;
    border-radius: 5px;
    align-items: center;
}

.usuarios p{
    margin-right: 5px;
}

.usuarios a{
    text-decoration: none;
    color: black;
}

form button{
    padding: 10px;
    border-radius: 8px;
    margin: 5px;
}

form #save:hover{
    background-color: #0022AA;
    color: white;
}

form #edit:hover{
    background-color: #0022AA;
    color: white;
}

form #delete:hover{
    background-color: red;
    color: white;
}

form .control{
    padding: 8px 8px;
    border-radius: 8px;
    width: 100%;
}

.form-edit label{
    font-weight: bolder;
    text-align: left;
}

.divs-edit {
    text-align: left;
}

.divs-detail{
    font-size: 20px;
}

.divs-detail label{
    font-weight: bolder;
}

.main-detail img, .main-edit img{
    max-width: 200px;
    margin: 10px;
    border-radius: 8px;
}

.main-edit img:hover{
    opacity: 0.5;
}