@import url(/css/header.css);

@import url(/css/footer.css);

body{
    text-align: center;
}

#fotoPerfil{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
}

h2{
    margin-top: 140px;
}

.section{
    max-width:max-content;
    margin: auto;
    display: flex;
    flex-direction: column;
} 

.usuarios{
    padding: 10px;
    display: flex;
    margin: 10px;
    border-radius: 5px;
    align-items: center;
}

.usuarios p{
    margin-right: 5px;
}