@import url(/css/header.css); /* HEADER*/
@import url(/css/footer.css); /* FOOTER */


*{
    box-sizing: content-box;
    margin: 0;  
    padding: 0;
}

/* MAIN */

.banner{
    width: 100%;
    margin-top: 182.8px ;
}

.main{
    width: 100%;
    margin: auto;
    background-color: #ebebeb;
    padding-bottom: 15px;
}

.main .title {
    margin:auto;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}

.main section article .precio-descuento{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0px;
    padding: 0;
}

.main .ultima-visita, .ofertas{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.main .ultima-visita h3, .ofertas h3{
    font-size: 24px;
}

.main section img{
    width: 90%;
    max-width: 300px;
}

.main section article{
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    background-color: white;
}

.main section .caracteristicas{
    border-top: solid 1px #ebebeb;
    position: relative;
}

.main section article .caracteristicas i{
    display: block;
    font-size: 16px;
    padding: 3%;
    width: 25px;
    height: 20px;
    color: #39b54a;
    border: solid 1px #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -22px;
}

.main section article .caracteristicas .precio{
    font-size: 18px;
    font-weight: bolder;
    width: 30vw;
    margin-left: 10px;
}

.main section article .caracteristicas .descuento{
    font-size: 16px;
    margin: 15px 0 15px 5px;
    color: #39b54a;
    width: 70vw;
    display: flex;
    align-self: flex-start;
}

.main section article .caracteristicas .descripción{
    font-size: 16px;
    display: none;
    transition: all 5000ms;
}

/* FOOTER */

.footer{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 300;
}

.footer ul{
    list-style-type: none;
    margin: 0 ;
    padding: 0 35px;
}

.footer ul li{
    margin-top: 45px;
}

.footer ul li i{
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259ce;
}

.footer ul li h4{
    margin: 0px;
}

.footer ul li p{
    margin: 0px;
    text-align: unset;
    color: #666;
}

.footer ul .copyright{
    padding: 45px 0 20px 0;
}


/* MEDIA QUERY 1*/

@media (min-width: 481px){

    .header{
        position: static;
    }
    
    .header .top-nav{
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        justify-content: space-around;
        margin: auto;
        padding: 10px 0 ;
    }

    .header .top-nav .logo-ml{
        display: flex;
        width: 100%;
        max-width: 150px;
        justify-self: center;
    }

    .header .top-nav .searcher .control{
        width: 80%;
        padding: 0 5%;
    }

    .header .top-nav .searcher i{
        width: 10%;
        top: 8px;
    }

    .header .top-nav .cuotas{
        width: 33%;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .header .top-nav .cuotas i{
        align-self: center;
        justify-self: flex-end;
        margin:  0 5px;
        font-size: 75%;
    }

    .header .top-nav .cuotas p{
        text-align: center;
        font-size: 50%;
        align-self: center;
        justify-self: flex-start;
    }

    .header .bot-nav{
        display: flex;
        justify-content: space-around;
        margin: auto;
        width: 95%;
    }

    .header .bot-nav .nav-bar, .header .bot-nav .login-bar{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        width: 100%;
        margin: auto;
        font-size: 60%;
    }

    .header .bot-nav .nav-bar{
        justify-content: flex-start;
    }

    .header .bot-nav .nav-bar li{
        margin-right: 1em;
    }

    .header .bot-nav .login-bar{
        justify-content: flex-end;
    }

    .header .bot-nav .login-bar li{
        margin-left: 1em;
    }

    .header .bars{
        display: none;
    }

    .banner{
        margin-top: 0 ;
    }

    .main section .title{
        text-align: left;
        margin-left: 20px;
    }
    
    .main section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .main section .article{
        max-width: 45%;
    }
    
    .main .ultima-visita article, .ofertas article{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    transition: all 4ms;
    }

    .main section article:hover .caracteristicas .descripción{
        display: block;
        text-align: start;
        margin: 0 0 10px 8px;
    }

    .main section article:hover .caracteristicas{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    
}


/* MEDIA QUERY 2 */

@media (min-width: 769px){

    .header .top-nav .searcher .control{
        width: 95%;
        padding: 0 2%;
    }

    .header .top-nav .searcher i{
        width: 2%;
    }
 
    .header .top-nav .cuotas{
        font-size: 180%;
        width: 25%;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .header .bot-nav{
        padding: 10px 0 5px 0;
    }

    .header .bot-nav ul li{
        margin: 0 12px ;
    }

    .header a{
        font-size: 160%;
    }

    .header .bars{
        display: none;
    }
    
    .main section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .main section .article{
        max-width: 22.5%;
    }

    .main .ultima-visita article, .ofertas article{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}


