
@import url(/css/header.css); /* HEADER */

@import url(/css/footer.css); /* FOOTER */

*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

/* MAIN - FORM */

.banner{
    width: 100%;
    margin-top: 200px;
}


.main-register{
    background-color: #ebebeb;
}

.main-register .form-register{
    width: 90%;
    margin: 100px auto 0;
}

.main-register .form-register .main-title{
    padding: 15px 0;
    border-bottom: solid 1px #666;
    margin-bottom: 10px;
}

.main-register  .form-register .divs-register{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.main-register  .form-register .divs-register label{
    margin-top: 10px;
    font-style: italic;
    font-weight: bolder;
    font-size: 18px;
}

.main-register  .form-register .divs-register .control{
    padding: 8px 8px;
    border-radius: 8px;
    width: 100%;
}

.main-register .form-register .vender-comprar{
    margin: 20px 0 20px 0;
}

.main-register .form-register .vender-comprar .title{
    font-weight: bolder;
}

.main-register .form-register .vender-comprar label{
    margin-right: 10px;
}

.main-register .form-register .categorias{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.main-register .form-register .categorias .title{
    margin-bottom: 5px;
    font-weight: bolder;
}

.main-register .form-register .categorias .divs-categorías{
    padding: 3px 0 ;
}

.main-register .form-register .divs-register .title-profile{
    margin-bottom: 4px;
}

.main-register .form-register .divs-register .pass{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.main-register .form-register .divs-register .pass i{
    width: 2.5%;
    position: absolute;
    top: 10px;
    right:15px;
}

.main-register .form-register .div-accept{
    margin-top: 20px;
}

.main-register .form-register .div-accept div{
    margin: 7px 0;
}

.main-register  .form-register .divs-buttons{
    margin: 20px;
    display: flex;
    justify-content: space-around;
    padding: 20px;

}

.main-register  .form-register .divs-buttons button{
    padding: 10px 5px;
    border-radius: 8px;
}

.main-register  .form-register .errors{
    color: red;
    font-weight: bolder;
    margin-top: 5px;
}


/* MEDIA QUERY 1*/

@media (min-width: 481px){

    .banner{
        margin-top: 0 ;
    }

    .main-register .form-register {
        width: 65%;
    }

    .main-register  .form-register .divs-buttons #create:hover{
        background-color: #0022AA;
        color: white;
    }
}


/* MEDIA QUERY 2 */

@media (min-width: 769px){
    .main-register .form-register{
        width: 50%;
    }
}
