
@import url(/css/header.css); /* HEADER */

@import url(/css/footer.css); /* FOOTER */

*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

/* MAIN - LOGIN */

.banner{
    width: 100%;
    margin-top: 200px;
}

.main-login{
    background-color: #ebebeb;
}

.main-login .form-login{
    width: 90%;
    margin: 100px auto 0;
    display: flex;
    flex-wrap: wrap;
}

.main-login .form-login .main-title{
    width: 100%;
    padding: 15px 0;
    border-bottom: solid 1px #666;
    margin-bottom: 10px;
}

.main-login .form-login .divs-login{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-login .form-login .divs-login .pass{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.main-login .form-login .divs-login .pass i{
    width: 5%;
    position: absolute;
    top: 10px;
    right:0px;
}

.main-login .form-login .control{
    padding: 8px 8px;
    border-radius: 8px;
    width: 100%;
}

.main-login .form-login .nombre{
    padding: 8px 8px;
    border-radius: 8px;
    width: 95%;
}

.main-login .form-login label{
    margin-top: 10px;
    font-style: italic;
    font-weight: bolder;
}

.main-login .form-login .div-remember-user{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    width: 100%; 
}

.main-login .form-login .div-remember-user a{
    text-align: right;
}

.main-login .form-login .div-remember-user label{
    font-style: normal;
    font-weight: normal;
}

.main-login .form-login .buttons{
    display: block;
    padding: 10px;
    border-radius: 8px;
    margin: 10px 0;
}

.main-login .form-login .buttons .button{
    padding: 10px;
    border-radius: 8px;
}

.main-login .register{
    text-align: center;
    padding-bottom: 20px;
}

.main-login  .form-login .errors{
    color: red;
    font-weight: bolder;
    margin-top: 5px;
}

/* MEDIA QUERY 1*/

@media (min-width: 481px){

    .banner{
        margin-top: 0 ;
    }
    
    .main-login .form-login {
        width: 65%;
    }
    .main-login .form-login .nombre{
        width: 95.5%;
    }

    .main-login .form-login .buttons .button:hover{
        background-color: #0022AA;
        color: white;
    }
}


/* MEDIA QUERY 2 */

@media (min-width: 769px){
    .main-login .form-login{
        width: 50%;
    }
    .main-login .form-login .nombre{
        width: 97%;
    }
}