<header class="header">
    <div class="top-nav">
        <a href="/"><img class="logo-ml" src="/img/logo-mercado-liebre.svg" alt="Logo MERCADO-LIEBRE"></a>
        <div class="searcher">
            <form class="form-searcher" action="Buscar">
                <input class="control" type="text" name="searcher" id="" placeholder="Buscar productos, marcas..."><i class="fas fa-search fa-0.5"></i>
            </form>
        </div>
    
        <h3 class="cuotas">
            <i class="fas fa-hand-holding-usd"></i>
            <p>Comprá en cuotas y sin tarjeta de crédito</p>
        </h3>
    </div>
    <nav class="bot-nav">
        <ul class="nav-bar">
            <li><a href="/">Inicio</a></li>
            <li><a href="/#ofertas">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="/products/create">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="login-bar">
            <% if (!locals.userIsLogged) { %>
                <li class="space">
                    <a href="/users/register">Creá tu cuenta <i class="far fa-id-card"></i></a>
                </li>
                <li class="space">
                    <a href="/users/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
                </li>
                <!-- <li class="space">
                    <a  href="/users/list">Usuarios registrados <i class="fas fa-users"></i></a>
                </li> -->
            <% } else { %>
                <li>
                    <% if (locals && locals.userName) { %>
                    <div class="userLogged">
                        <a href="/users/detail/<%=locals.UserLogged.userName%>"><img id="photoUser" src="/img/imgUsuarios/<%=locals.UserLogged.image%>" alt="Foto de perfil"></a>
                        <a id="userName" href="/users/detail/<%=locals.UserLogged.userName%>"><%=locals.UserLogged.userName%></a>
                    </div>
                    <% } %> 
                </li>
                <li>
                    <a href="/users/list">Usuarios registrados <i class="fas fa-users"></i></a>
                </li>
                <li>
                    <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a>
                </li>
                <li>
                    <a href="/users/logout">Log out <i class="fas fa-shopping-basket"></i></a>
                </li>
            <% } %>
        </ul>
    </nav>
    <div class="bars">
        <i class="fas fa-bars fa-2x"></i>
    </div>
    <div class="nav-bar-celu hide-display">
        <ul >
            <li><a href="/">Inicio</a></li>
            <li><a href="/#ofertas">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="/products/create">Vender</a></li>
            <!-- <li><a href="#">Ayuda</a></li> -->
            <br>
            <li><a href="/users/login">Ingresá</a></li>
            <li><a href="/users/register">Creá tu cuenta</a></li>
        </ul>
    </div>
</header>